<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>Predict Gym Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="Age" placeholder="Age" required="required" />
        <input type="text" name="Height" placeholder="Height" required="required" />
		<input type="text" name="weight" placeholder="weight" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
 <h5>
     0 --> Extremely obese--normal exercise+yoga+heavy dite control+TIPS ->Obese<br>
     1 --> Healthy--fitness+protine+simple dite <br>
     2 --> Obese--slow lean+protine+full dite ->Overweight <br>
     3 --> Overweight--lean+cardio+protine+normal dite ->Healthy <br>
     4 --> Under weight--protines+carbs+normal weights ->Healthy <br>
 </h5>



</body>
</html>